body{
    background-color: #0f172a;
    color:#e2e8f0;
    font-size: small;
    font-family: 'Poppins', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 8px;
}

